* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*box-shadow: 0 0 0 1px red inset;*/
}
:root {
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", serif;

  /*primary*/
  --soft-red: hsl(7, 99%, 70%);
  --dark-desaturated-cyan/*(graphic design text)*/: hsl(167, 40%, 24%);
  --dark-blue/*(photography text)*/: hsl(198, 62%, 26%);
  --dark-moderate-cyan/*(footer)*/: hsl(168, 34%, 41%);
  /*neutral*/
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.content {
  width: 100%;
  height: 100%;
}

header {
  background-image: url(../assets/images/mobile/image-header.jpg);
  background-position: center center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  position: relative;
}
.nav {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-logo {
  background-image: url(../assets/images/logo.svg);
  background-size: 120px;
  background-position: 10px center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.nav-items-toggle-btn {
  width: 30px;
  height: 30px;
  background-image: url("../assets/images/icon-hamburger.svg");
  background-color: transparent;
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: 25px;
  cursor: pointer;
}

.nav-items-links {
  display: none;
  list-style: none;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.nav-items-links::before {
  content: "";
  position: absolute;
  top: -25px;
  right: 0px;
  border-width: 30px;
  border-style: solid;
  border-color: transparent transparent var(--white) transparent;
  transform: rotate(-90deg);
  z-index: 9;
}

.nav-items-links.active {
  display: flex; /* Afficher les liens lorsque la classe "active" est ajoutée */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--white);
  width: 90%;
  height: 300px;
  z-index: 10;
}

.nav-items-links a {
  color: var(--very-dark-desaturated-blue);
  opacity: 0.5;
  text-decoration: none;
  font-weight: 600;
  font-family: var(--barlow);
}

.nav-items-links li:last-child a {
  background-color: yellow;
  color: black;
  font-family: var(--fraunces);
  border-radius: 25px;
  padding: 10px 25px;
}

.nav-img {
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-img p {
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: var(--fraunces);
  font-weight: 900;
  letter-spacing: 5px;
}
.nav-img-arrow {
  position: absolute;
  background-image: url("../assets/images/icon-arrow-down.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px;
  width: 150px;
  height: 150px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 90%);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-items {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-items-text {
  width: 100%;
  height: 450px;
}

.main-items-text div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 25px;
  text-align: center;
}

.main-items-text h2 {
  font-family: var(--fraunces);
  font-size: 35px;
  font-weight: 900;
}

.main-items-text p {
  color: var(--dark-grayish-blue);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6;
}

.main-items-text span {
  font-family: var(--fraunces);
  font-size: 1.2rem;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 0, 0.479);
  text-decoration-thickness: 6px;
}

.main-items-text .main-items4-details span {
  text-decoration-color: rgba(255, 0, 0, 0.479);
}

.main-items-img-and-text {
  width: 100%;
  height: 600px;
}

.main-items-img-and-text {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.main-items-img-and-text-details {
  padding: 0 15px 55px 15px;
  color: var(--dark-desaturated-cyan);
}

.main-items-img-and-text-details h2 {
  font-family: var(--fraunces);
  margin-bottom: 30px;
  font-size: 2rem;
}

.main-items-img-and-text-details p {
  line-height: 1.3;
}
.main-items1 {
  order: 2;
}

.main-items2 {
  order: 1;
  background-image: url("../assets/images/mobile/image-transform.jpg");
}

.main-items3 {
  background-image: url("../assets/images/desktop/image-stand-out.jpg");
  order: 3;
}

.main-items4 {
  order: 4;
}

.main-items5 {
  background-image: url("../assets/images/desktop/image-graphic-design.jpg");
  order: 5;
}

.main-items6 {
  background-image: url("../assets/images/desktop/image-photography.jpg");
  order: 6;
}

.clients {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 0 100px 0;
}

.clients h1 {
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 3px;
  font-family: var(--fraunces);
  color: var(--dark-grayish-blue);
  padding: 20px 10px;
}

.client {
  width: 100%;
  padding: 0 25px;
  margin: 25px 0 25px 0;
}

.client .client-img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  background-position: center;
  background-size: contain;
  margin: 25px auto 30px auto;
}

.client1 .client-img {
  background-image: url(../assets/images/image-emily.jpg);
}

.client2 .client-img {
  background-image: url(../assets/images/image-thomas.jpg);
}

.client3 .client-img {
  background-image: url(../assets/images/image-jennie.jpg);
}

.client p:first-of-type {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--very-dark-grayish-blue);
  line-height: 1.5;
  margin-bottom: 25px;
}
.client h2 {
  font-family: var(--fraunces);
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.client p:last-child {
  font-size: 1rem;
  color: var(--grayish-blue);
  font-weight: 600;
}
.grid-illustrations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-illustrations-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  padding-bottom: 100%; /* Pour maintenir le ratio d'aspect */
  height: 100%;
}

.illustration1 {
  background-image: url(../assets/images/mobile/image-gallery-milkbottles.jpg);
}

.illustration2 {
  background-image: url(../assets/images/mobile/image-gallery-orange.jpg);
}

.illustration3 {
  background-image: url(../assets/images/mobile/image-gallery-cone.jpg);
}

.illustration4 {
  background-image: url(../assets/images/mobile/image-gallery-sugar-cubes.jpg);
}

footer {
  background-color: var(--dark-moderate-cyan);
  width: 100%;
  height: 300px;
  text-align: center;
  color: var(--dark-desaturated-cyan);
}

footer h2 {
  padding: 30px 0;
  font-weight: bold;
  font-size: 3rem;
}

footer .small-nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-bottom: 70px;
}
.social-media {
  width: 50%;
  margin: auto;
}
.social-media ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.challenge-by {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
}

@media screen and (min-width: 1440px) {
  * {
    box-shadow: 0 0 0 1px red inset;
  }
  body {
    width: 100%;
  }
  header {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/desktop/image-header.jpg);
    background-position: center center;
    background-color: #3ebfff;
  }

  .nav {
    width: 100%;
  }

  .nav-logo {
    width: 50%;
  }

  .nav-items-toggle-btn {
    display: none;
  }

  .nav-links {
    width: 50%;
  }
  .nav-items-links {
    width: 100%;
    display: flex;
    position: static;
    justify-content: flex-end;
    transform: translateX(0%);
    gap: 25px;
  }
  .nav-items-links::before {
    display: none;
  }

  .nav-items-links li {
    display: flex;
    align-items: center;
    color: white;
  }

  .nav-items-links li a {
    color: var(--white);
  }

  .nav-items-links li:last-child a {
    background-color: var(--white);
  }

  .nav-img {
    top: 18%;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .main-items {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .main-items1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .main-items2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../assets/images/desktop/image-transform.jpg);
  }

  .main-items3 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../assets/images/desktop/image-stand-out.jpg);
  }

  .main-items4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .main-items5 {
    background-image: url(../assets/images/desktop/image-graphic-design.jpg);
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .main-items6 {
    background-image: url(../assets/images/desktop/image-photography.jpg);
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .main-items-text {
    padding: 150px;
    height: 100%;
  }

  .main-items-text div {
    text-align: start;
  }

  .main-items-img-and-text-details {
    text-align: start;
  }

  .main-items-img-and-text {
    padding: 50px 150px;
  }
  .main-items-img-and-text div {
    text-align: center;
  }

  .clients {
    margin: 100px 0;
  }

  .clients-details {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
  }

  .clients-details p:first-of-type {
    margin: 50px 0 80px 0;
  }

  .grid-illustrations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .grid-illustrations-item {
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 25%;
  }

  .small-nav {
    width: 35%;
    margin: auto;
    margin-top: 25px;
  }

  .small-nav li {
    width: 100px;
  }

  .social-media {
    width: 15%;
  }
  .social-media li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .small-nav li:hover,
  .social-media li:hover {
    color: white;
  }

  .social-media li:hover {
    color: white;
  }

  .challenge-by {
    text-align: center;
  }
}
